* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  html {
    scroll-behavior: smooth;
  }



  body {
      height: 100vh;
      width: 100vw;
  }

  header {
      position:fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 50px;
      z-index: 99;
      text-align: center;
      background-color: midnightblue;
  }


section {
    min-height: 100vh;
}

section.image-holder img {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;

}

section p {
    line-height: 30px;
    margin-top: 30px;
    text-indent: 10px;
}

button {
    background-color: grey;
    border: 4px;
    border-color: black;
    border: inset;
}

section.background-holder {
    padding: 20px;
    border: 10px solid rgba(15, 80, 95, 0.5);
    background-clip: padding-box;
    background-image: url(Landscape.jpg);
    background-size: 200px 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}

section.image-holder {
    height: 100vh;
    overflow: hidden;
}

section.image-holder img {
    position: absolute;
    top: 0;
    left: 0;     /*duplikált??*/
}

section.image-holder button {
    position:absolute;
    display: block;
    bottom: 0;
    left: 50%;
    width: 200px;
    height: 60px;
    margin: 40px 0;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: #07c0ca;
    font-size: 20px;
    font-family:'Permanent Marker', cursive;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#welcome h1 {
    font-size: 100px;
    font-family: 'Lobster', cursive;
    position: relative;
    display: block;
    margin-left: 40px;
    margin-top: 40px;
    color: rgb(206, 228, 245);
}

#about {
    min-height: unset;
    background-color: powderblue;
}

#about h2 {
    font-family: 'Lobster', cursive;
}

#about article {
    /*display: flex;*/
    width: 100%;
    max-width: 400px;
    padding: 80px 20px;
    margin: 0 auto;
}

#about article p {
    font-family:'Barlow Condensed', sans-serif;
}

#about h2 {
    padding-bottom: 20px;
}

#services {
    padding: 80px 0;
    background-image: url(Landscape.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
}

#services h2 {
    font-family: 'Dancing Script', cursive;
}

#services ul {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    background-color: rgba(47, 160, 180, 0.9);
}

#sevices ul li {
    padding-bottom: 10px;
}

#services ul li h2,
#services ul li p {
    text-align: center;
}

section p {
    text-align: justify;
    display: block;
}

#contact {
    background-color: powderblue;
}

#contact form {
    width: 100%;
    max-width: 400px;
    padding: 40px 20px;
    margin: 0 auto;
}

#contact input,
#contact label {
    display: block;
    width: 100%;
}

#contact label {
    font-size: 12px;
    padding-bottom: 10px;
}

#contact input {
    height: 60px;
    padding: 0 10px;
    margin-bottom: 30px;
    font-size: 18px;
    background-color: white;
    border-radius: 10px;
}

#contact button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #07c0ca;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}