* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  body {
      height: 100vh;
      width: 100vw;
  }


section {
    min-height: 100vh;
}

section.image-holder img {
    /*background-image: url("Landscape.jpg");*/
    height: 100vh;
    width: 100%;
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    position: relative;
    display: block;
    object-fit: contain;
}

section p {
    line-height: 30px;
    margin-top: 30px;
    text-indent: 10px;
}

button {
    background-color: grey;
    border: 4px;
    border-color: black;
    border: inset;
}

section.background-holder {
    padding: 20px;
    border 10px solid rgba(15, 80, 95, 0.5);
    background-clip: padding-box;
    background-image: url(Landscape.jpg);
    background-size: 200px 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}