* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  body {
      height: 100vh;
      width: 100vw;
  }


section {
    min-height: 100vh;
}

.landscape {
    background-image: url("C:\Users\Felhasználó\Downloads\pexels-eberhard-grossgasteiger-443446.jpg");
    background-size: cover;
}